<% if @genre.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h3>
        <ul>
          <% @genre.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_for @genre, :html => { :class => "form-horizontal genre" } do |f| %>
          <div class="row form-group">
            <%= f.label :name, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :name, :class => 'form-control', :required => true %>
              <%=f.error_span(:name) %>
            </div>
            <div class="col-md-6">
              <small><em>*required</em></small>
            </div>
          </div>
          <% unless @genre.new_record?%>
            <div class="row form-group">
              <%= f.label :slug, :class => 'col-form-label col-lg-2' %>
              <div class="col-lg-4">
                <%= f.text_field :slug, :class => 'form-control', :required => true %>
                <%=f.error_span(:slug) %>
              </div>
              <div class="col-md-6">
                <small><em>*required</em></small>
              </div>
            </div>
          <% end %>
          <div class="row form-group">
            <%= f.label :description, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_area :description, :class => 'form-control' %>
              <%=f.error_span(:description) %>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-10 offset-md-2">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")), genres_path, :class => 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
