<div class="mb-1">
    <%= form_tag({action: :search}, method: 'get') do %>
        <div class="form-row">
            <div class="input-group mb-2 col">
                <%= text_field_tag :keyword, (params[:keyword] or '') , options={class: "form-control", placeholder: "Insert Keyword Here"} %>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    <% end %>
</div>