<%- model_class = Genre -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
              <a href="<%= categories_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item active">All <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "<i class='fas fa-plus-circle'></i> Add New".html_safe, new_genre_path, :class => 'btn waves-effect waves-light btn-rounded btn-success mb-2' %>
      <%= render partial: 'search' %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:name) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:slug) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:created_at) %></th>
                  <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @genres.each do |genre| %>
                  <tr>
                    <td class="text-center"><%= link_to genre.id, genre_path(genre) %></td>
                    <td class="text-center"><%= genre.name %></td>
                    <td class="text-center"><%= genre.slug %></td>
                    <td class="text-center"><%= genre.created_at.strftime("%Y/%m/%d@%H:%M:%S") %></td>
                    <td class="text-center">
                      <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_genre_path(genre), :class => 'btn-sm waves-effect waves-light btn-warning mb-1' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @genres %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
