@font-face {
  font-family: 'Rubik';
  src: url('<%= asset_url('Rubik-Regular.woff') %>') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('<%= asset_url('Rubik-Light.woff') %>') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('<%= asset_url('BebasNeue-Regular.woff') %>') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('<%= asset_url('Roboto-Light.woff') %>') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Rubik';
}

.bg-black{
  background-color: black;
}

.dropdown-background{
  background-color: #a7a7a7;
}

.dropdown-item-format{
  text-transform: uppercase;
  letter-spacing: 2px !important;
  font-weight: bold;
}

.special > a.nav-link{
  font-weight: bold;
  font-size: .9rem;
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.main-nav{
  background-color: rgba(0,0,0,0.7);
}
.main-image{
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-box{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 25%;
}

.main-sub-text{
  font-size: 1rem;
}

.next-event-block{
  width:60%;
}

.layer-main-image{
  opacity: 0.4;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.section-title-block{
  border-left: 10px solid yellow;
}

.section-title{
  margin-bottom: 0;
  border-bottom: 1px solid white;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: 'BebasNeue-Regular';
}

.page-title{
  margin-bottom: 0;
  border-bottom: 1px solid white;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: 'BebasNeue-Regular';
}

.text-content > * {
  font-family: 'Roboto-Light';
}

.artist-box{
  /* height:354px; */
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}
.artist-details-layer{
  visibility: hidden;
  height: 100%;
  border:10px solid white;
  z-index: 2;
  opacity:0;
  transition: visibility 0s, opacity 0.3s linear;
}
.artist-box:hover .artist-details-layer{
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.artist-details-background{
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.artist-details{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index:2;
  width: 70%;
}
.artist-search-logo{
  font-size:2rem;
  color:white;
  background-color:#ffc107;
  padding:10px;
  border: 2px solid #ffc107;
  border-radius: 30px;
  margin-bottom:1rem;
}
.artist-role{
  font-size: 0.75rem;
}

.artist-link{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  z-index:1;
}

.artist-gallery-box-image{
  height:300px;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.artist-gallery-name{
  font-size: 1.25rem;
}

.footer-col-title{
  margin-bottom: 2rem;
  border-bottom: 1px solid #c3c3c3;
  font-size: 1.8rem;
  color: #c3c3c3 !important;
  letter-spacing: 1px;
}

.list-video-scroll-y{
  overflow-y: scroll;
  height: 500px;
}

.news-thumbnail{
  height:200px;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.news-title{
  font-size: 1.25rem;
  font-weight: bold;
}

.event-title{
  font-size: 1.25rem;
  font-weight: bold;
}
.event-day-number{
  font-size: 2rem;
}

.latest-concert-photo-section{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 1rem;
}

.icon{
  color: white;
  float:left;
}

.icon-sosmed{
  color: yellow;
  float:left;
}

.icon ~ p {
  margin-left:25px;
}

.icon-sosmed ~ p {
  margin-left:30px;
}

.sosmed-block{
  font-size: 1.5rem;
}

.sosmed-link{
  color:white;
}

.sosmed-link:hover{
  color:yellow;
}

.background-parallax{
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-layer-opacity-black{
  background-color:black;
  opacity:0.9;
  width:100%;
  height:100%;
  position:fixed;
  bottom:0;
}

.copyright-border{
  border-top:1px solid white;
}

.album-card-link{
  width:100%;
  height:100%;
  display: block;
}

.news-card-link{
  width:100%;
  height:100%;
  position: absolute;
}
.upcoming-event-date{
  line-height: normal;
}

.table-cell-item{
  border-top:black !important;
  vertical-align: middle !important;
}

.table-event-title{
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.table-border{
  border-collapse: separate;
  border-spacing: 0 1em;
}

/* letter spacing */

.letter-spacing-2{
  letter-spacing: 2px;
}

.letter-spacing-3{
  letter-spacing: 3px;
}

.letter-spacing-4{
  letter-spacing: 4px !important;
}

/* spacing */
.m-6{
  margin: 4rem !important;
}

.mt-6,
.my-6 {
  margin-top: 4rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 4rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 4rem !important;
}

.m-7{
  margin: 6rem !important;
}

.mt-7,
.my-7 {
  margin-top: 6rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 6rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 6rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 6rem !important;
}

.pm-6{
  padding: 4rem !important;
}

.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.pr-6,
.px-6 {
  padding-right: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.pl-6,
.px-6 {
  padding-left: 4rem !important;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-nav{
    background-color: black;
  }
  .main-text{
    width:initial;
    height: 50%;
  }
  .main-box{
    width:100%;
    height: 70%;
    padding-top:30%;
  }
  .next-event-block{
    width:100%;
  }

  .dropdown-background{
    background-color: rgb(44, 44, 44);
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .dropdown-item-format{
    text-transform: uppercase;
    letter-spacing: 0px !important;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
  }

}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
