<% if @artist.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h3>
        <ul>
          <% @artist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% unless @artist.new_record? %>
      <a href="<%= artist_path(@artist) %>" class="btn btn-info mb-2" target="_blank">Preview</a>
    <% end %>
    <div class="card">
      <div class="card-body">
        <%= form_for @artist, :html => { :class => "form-horizontal artist" } do |f| %>
          <div class="row form-group">
            <%= f.label :artist_portrait, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <% if @artist.artist_portrait.nil? %>
                <%= f.file_field :artist_portrait, :class => 'dropify','data-max-file-size'=>'1M', 'data-allowed-formats' => 'square', 'data-allowed-file-extensions' => 'jpg png jpeg'  %>
              <% else %>
                <%= f.file_field :artist_portrait, :class => 'dropify','data-max-file-size'=>'1M', 'data-allowed-formats' => 'square', 'data-allowed-file-extensions' => 'jpg png jpeg', 'data-default-file' => @artist.artist_portrait.url %>
              <% end %>
              <%=f.error_span(:artist_portrait) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :name, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :name, :class => 'form-control', :required => true %>
              <%=f.error_span(:name) %>
            </div>
            <div class="col-md-6">
              <small><em>*required</em></small>
            </div>
          </div>
          <% unless @artist.new_record? %>
            <div class="row form-group">
              <%= f.label :slug, :class => 'col-form-label col-lg-2' %>
              <div class="col-lg-4">
                <%= f.text_field :slug, :class => 'form-control', :required => true %>
                <%=f.error_span(:slug) %>
              </div>
            </div>
          <% end %>
          <div class="row form-group">
            <%= f.label :role, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :role, :class => 'form-control' %>
              <%=f.error_span(:role) %>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-form-label col-lg-2">Genre</label>
            <div class="col-md-10">
              <ul class="p-0" style="list-style-type: none;">
                <%= f.collection_check_boxes :genre_ids, @genres, :id, :name do |item| %>
                <li class="mr-2 mb-2">
                  <div class="custom-control custom-checkbox">
                    <%= item.check_box class: "custom-control-input" %>
                    <%= item.label class: 'custom-control-label' %>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :description, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.cktext_area :description, :class => 'form-control' %>
              <%=f.error_span(:description) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :seo_title, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_field :seo_title, :class => 'form-control' %>
              <%=f.error_span(:seo_title) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :focus_keyphrase, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_field :focus_keyphrase, :class => 'form-control' %>
              <%=f.error_span(:focus_keyphrase) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :meta_description, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_area :meta_description, :class => 'form-control', rows: '5' %>
              <%=f.error_span(:meta_description) %>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-10 offset-md-2">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <% unless @artist.new_record? %>
                <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, artist_path(@artist), :class => 'btn waves-effect waves-light btn-danger', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
              <% end %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")), artists_path, :class => 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
