<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
	<div class="background-layer-opacity-black">
	</div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">artists</h1>
          </div>
          <div class="row text-white mb-4 justify-content-center">
            <% @artists.each do |artist| %>
              <div class="col-md-3 mb-4">
                <a href="<%= artist_path(artist) %>" class="news-card-link"></a>
                <img src="<%= artist.artist_portrait.url %>" alt="" class="w-100 mb-2">
                <h2 class="artist-gallery-name text-uppercase text-white"><%= artist.name %></h2>
                <p class="text-warning letter-spacing-3 text-uppercase artist-role">
                  <% artist.genres.take(5).each do |genre| %>
                    <% if genre == artist.genres.take(5)[artist.genres.take(5).length.to_i - 1] %>
                      <%= genre.name %>
                    <% else %>
                      <%= genre.name + ',' %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 text-center">
              <%= paginate @artists %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
