<%- model_class = Artist -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
              <a href="<%= artists_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item active">All <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "<i class='fas fa-plus-circle'></i> Add New".html_safe, new_artist_path, :class => 'btn waves-effect waves-light btn-rounded btn-success mb-2' %>
      <%= render partial: 'search' %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:artist_portrait) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:name) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:created_at) %></th>
                  <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @artists.each do |artist| %>
                  <tr>
                    <td class="text-center"><%= link_to artist.id, artist_path(artist) %></td>
                    <td class="text-center">
                      <img src="<%= artist.artist_portrait.url %>" alt="" style="width:200px;">
                    </td>
                    <td class="text-center"><%= artist.name %></td>
                    <td class="text-center"><%= artist.created_at.strftime("%Y/%m/%d@%H:%M:%S") %></td>
                    <td class="text-center">
                      <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, artist_path(artist), :class => 'btn-sm waves-effect waves-light btn-info mb-1', target: '_blank' %>
                      <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_artist_path(artist), :class => 'btn-sm waves-effect waves-light btn-warning mb-1' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @artists %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
