<%- model_class = Artist -%>
<div class="background-parallax" style="background-image:url('<%= asset_url('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">artist: <%= @artist.name %></h1>
          </div>
          <div class="row">
            <div class="col-md-4 text-white">
              <% if @artist.artist_portrait.present? %>
                <img src="<%= @artist.artist_portrait.url %>" alt="" class="w-100 mb-3">
              <% else %>
                <img src="<%= asset_path 'no-thumbnail' %>" alt="" class="w-100 mb-3">
              <% end %>
              <p>
                <strong class="text-warning">Name:</strong><br>
                <%= @artist.name %>
              </p>
              <p>
                <strong class="text-warning">Role:</strong><br>
                <%= @artist.role %>
              </p>
              <p>
                <strong class="text-warning">Genre:</strong><br>
                <% @genres.each do |genre| %>
                  <% if genre == @genres[@genres.length.to_i - 1] %>
                      <%= genre.name %>
                  <% else %>
                    <%= genre.name + ',' %>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div class="col-md-8 text-white">
              <%= @artist.description.html_safe %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 section-title-block mb-4">
            <h2 class="text-uppercase text-white section-title">upcoming events</h2>
          </div>
          <% if @events.present? %>
            <% @events.limit(3).each do |event| %>
              <div class="row mb-5">
                <div class="col-md-12">
                  <h3 class="mb-3 text-warning event-title"><%= event.title %></h3>
                </div>
                <div class="col-md-3 col-3">
                  <% if event.start_date.present? %>
                    <p class="text-white text-center upcoming-event-date">
                      <span class="event-day-number"><%= event.start_date.strftime("%d") %></span><br>
                      <span><%= event.start_date.strftime("%b") %></span>
                    </p>
                  <% end %>
                </div>
                <div class="col-md-9 col-9">
                  <% if event.start_date.present? && event.finish_date.present? %>
                    <p class="text-white"><i class="fas fa-clock"></i> <%= event.start_date.strftime("%H:%M %p") %> - <%= event.finish_date.strftime("%H:%M %p") %></p>
                  <% end %>
                  <% if event.venue.present? %>
                    <p class="text-white"><i class="fas fa-location-arrow"></i> <%= event.venue.title %></p>
                  <% end %>
                </div>
                <div class="col-md-12 text-right">
                  <a href="<%= event_path(event) %>" class="btn btn-warning">More Details</a>
                </div>
              </div>
            <% end %>
            <div class="row mb-3">
              <div class="col-md-12 text-center">
                <a href="<%= events_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <% if @post_images.present? %>
      <section class="pb-6">
        <div class="col-md-12 section-title-block mb-4">
          <h2 class="text-uppercase text-white section-title">images</h2>
        </div>
        <div class="row justify-content-center">
          <% @post_images.each do |post| %>
            <% post.images.order(created_at: :desc).each do |image| %>
              <div class="col-md-3 mb-3 text-center">
                <%
                  if image.file.present?
                    image_thumbnail = image.file.url
                  else
                    image_thumbnail = asset_path 'no-thumbnail'
                  end
                %>
                <div class="news-thumbnail" style="background-image:url('<%= image_thumbnail %>')">
                  <a href="" class="album-card-link" data-toggle="modal" data-target="#image<%= image.id %>"></a>
                </div>
                <a href="<%= post_path(post) %>" class="text-warning news-title">
                  <p><%= image.caption if image.caption.present? %></p>
                </a>
              </div>
              <div class="modal fade" id="image<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="<%= image.file.url %>" alt="" class="w-100">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
    <% if @post_videos.present? %>
      <section class="pb-6">
        <div class="col-md-12 section-title-block mb-4">
          <h2 class="text-uppercase text-white section-title">videos</h2>
        </div>
        <div class="row justify-content-center">
          <% @post_videos.each do |post|  %>
            <% post.videos.order(created_at: :desc).each do |video| %>
              <div class="col-md-3 mb-3 text-center">
                <%
                  if video.thumbnail_image.present?
                    video_thumbnail = video.thumbnail_image.url
                  else
                    video_thumbnail = asset_path 'no-thumbnail'
                  end
                %>
                <div class="news-thumbnail" style="background-image:url('<%= video_thumbnail %>')">
                  <a href="" class="album-card-link" data-toggle="modal" data-target="#video<%= video.id %>"></a>
                </div>
                <a href="" class="text-warning news-title" data-toggle="modal" data-target="#video<%= video.id %>">
                  <p><%= video.title %></p>
                </a>
              </div>
              <% if video.file.present? || video.video_url.present? %>
                <div class="modal fade" id="video<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <% if video.file.present? %>
                          <video controls width="100%" height="400" src="<%= video.file %>"></video>
                        <% end %>
                        <% if video.video_url.present? %>
                          <iframe width="100%" height="500" src="http://www.youtube.com/embed/<%= video.video_url.delete_prefix("https://www.youtube.com/watch?v=") %>" frameborder="0"></iframe>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
    <section class="pb-6">
      <div class="col-md-12 section-title-block mb-4">
        <h2 class="text-uppercase text-white section-title">our artists</h2>
      </div>
      <div class="owl-carousel">
        <% @artists.each do |artist| %>
          <div class="p-2">
            <div class="mb-3 artist-box">
              <img src="<%= artist.artist_portrait.medium_large.url %>" alt="" class="w-100">
              <div class="artist-details-layer">
                <div class="artist-details-background">
                </div>
                <div class="artist-details">
                  <a href="<%= artist_path(artist) %>" class="artist-link"></a>
                  <i class="fas fa-search artist-search-logo"></i>
                  <h3 class="text-uppercase text-white letter-spacing-3"><%= artist.name %></h3>
                  <p class="text-warning letter-spacing-3 text-uppercase artist-role">
                    <% artist.genres.take(5).each do |genre| %>
                      <% if genre == artist.genres.take(5)[artist.genres.take(5).length.to_i - 1] %>
                        <%= genre.name %>
                      <% else %>
                        <%= genre.name + ',' %>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-12 text-center mt-3">
        <a href="#" class="btn btn-lg btn-outline-warning">View More</a>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
