<% if @setup.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@setup.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul>
          <% @setup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_for @setup, :html => { :class => "form-horizontal setup" } do |f| %>
          <div class="row form-group">
            <%= f.label :site_logo, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <% if @setup.site_logo.nil? %>
                <%= f.file_field :site_logo, :class => 'dropify','data-max-file-size'=>'500K' %>
              <% else %>
                <%= f.file_field :site_logo, :class => 'dropify','data-max-file-size'=>'500K', 'data-default-file' => @setup.site_logo.url %>
              <% end %>
              <%=f.error_span(:site_logo) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :site_name, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_field :site_name, :class => 'form-control' %>
              <%=f.error_span(:site_name) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :site_title, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_field :site_title, :class => 'form-control' %>
            </div>
            <%=f.error_span(:site_title) %>
          </div>
          <div class="row form-group">
            <%= f.label :site_description, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_area :site_description, :class => 'form-control' %>
            </div>
            <%=f.error_span(:site_description) %>
          </div>
          <div class="row form-group">
            <%= f.label :site_keyword, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.text_field :site_keyword, :class => 'form-control' %>
            </div>
            <%=f.error_span(:site_keyword) %>
          </div>
          <div class="row form-group">
            <%= f.label :site_url, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-10">
              <%= f.url_field :site_url, :class => 'form-control' %>
            </div>
            <%=f.error_span(:site_url) %>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-2">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              users_path, :class => 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

