<% if @user.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_for @user, :html => { :class => "user" } do |f| %>
        <div class="row form-group">
          <%= f.label :avatar, :class => 'col-form-label col-lg-2' %>
          <div class="col-lg-4">
            <%= f.file_field :avatar, :class => 'dropify' %>
            <%=f.error_span(:avatar) %>
          </div>
        </div>
        <div class="row form-group">
          <%= f.label :email, :class => 'col-form-label col-md-2' %>
          <div class="col-md-4">
            <%= f.email_field :email, :class => 'form-control', :required => true %>
            <%=f.error_span(:email) %>
          </div>
          <div class="col-md-6">
            <small><em>*required</em></small>
          </div>
        </div>
        <div class="row form-group">
          <%= f.label :username, :class => 'col-form-label col-md-2' %>
          <div class="col-md-4">
            <%= f.text_field :username, :class => 'form-control', :required => true %>
            <%=f.error_span(:username) %>
          </div>
          <div class="col-md-6">
            <small><em>*required</em></small>
          </div>
        </div>
        <div class="row form-group">
          <%= f.label :full_name, :class => 'col-form-label col-md-2' %>
          <div class="col-md-4">
            <%= f.text_field :full_name, :class => 'form-control' %>
            <%=f.error_span(:full_name) %>
          </div>
        </div>
        <div class="row form-group">
          <%= f.label :role, :class => 'col-form-label col-md-2' %>
          <div class="col-md-4">
            <%= f.select :role, User::ROLES.map {|r| [r.last.to_s.upcase, r.last.to_s] }, {:include_blank => '- Choose Role -'}, :class => 'form-control', :required => true %>
            <%=f.error_span(:role) %>
          </div>
          <div class="col-md-6">
            <small><em>*required</em></small>
          </div>
        </div>
        <div class="row form-group">
          <%= f.label :password, :class => 'col-form-label col-md-2' %>
          <div class="col-md-4">
            <%= f.password_field :password, :class => 'form-control', :required => true %>
            <small><em>*required</em></small>
            <%=f.error_span(:password) %>
          </div>
          <%= f.label :password_confirmation, :class => 'col-form-label col-md-2 text-capitalize' %>
          <div class="col-md-4">
            <%= f.password_field :password_confirmation, :class => 'form-control', :required => true %>
            <small><em>*required</em></small>
            <%=f.error_span(:password_confirmation) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <%= f.submit nil, :class => 'btn btn-success' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-secondary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
