<%- model_class = User -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
            <li class="breadcrumb-item active">All <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "<i class='fas fa-plus-circle'></i> Add New".html_safe, new_user_path, :class => 'btn waves-effect waves-light btn-rounded btn-success mb-2' %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center text-uppercase"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:username) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:role) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:email) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:created_at) %></th>
                  <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                  <td class="text-center"><%= link_to user.id, user_path(user) %></td>
                  <td class="text-center"><%= user.username %></td>
                  <td class="text-center"><%= user.role.upcase rescue '' %></td>
                  <td class="text-center"><%= user.email %></td>
                  <td class="text-center"><%= user.created_at.strftime("%Y/%m/%d@%H:%M:%S") %></td>
                  <td class="text-center">
                    <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, user_path(user), :class => 'btn-sm waves-effect waves-light btn-info mb-1' %>
                    <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_user_path(user), :class => 'btn-sm waves-effect waves-light btn-warning mb-1' %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
