<%- model_class = User -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <center class="m-t-30">
            <% if @user.avatar.present? %>
              <img src="<%= @user.avatar.url %>" class="rounded-circle" width="150" />
            <% else %>
              <img src="<%= asset_url('pikachuface.png') %>" class="rounded-circle" width="150" />
            <% end %>
            <h4 class="card-title m-t-10"><%= @user.full_name if @user.full_name.present? %></h4>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-xs-6 b-r">
              <strong>Full Name</strong><br>
              <p class="text-muted">
                <% if @user.full_name.present? %>
                  <%= @user.full_name %>
                <% else %>
                  -
                <% end %>
              </p>
            </div>
            <div class="col-md-6 col-xs-6 b-r">
              <strong>Email</strong><br>
              <p class="text-muted">
                <% if @user.email.present? %>
                  <%= @user.email %>
                <% else %>
                  -
                <% end %>
              </p>
            </div>
            <div class="col-md-6 col-xs-6 b-r">
              <strong>Username</strong><br>
              <p class="text-muted">
                <% if @user.username.present? %>
                  <%= @user.username %>
                <% else %>
                  -
                <% end %>
              </p>
            </div>
            <div class="col-md-6 col-xs-6 b-r">
              <strong>Role</strong><br>
              <p class="text-muted">
                <% if @user.role.present? %>
                  <%= @user.role %>
                <% else %>
                  -
                <% end %>
              </p>
            </div>
          </div>
          <hr>
          <div class="row text-center justify-content-md-center">
            <div class="col-md-12">
              <a href="<%= edit_user_path(@user) %>" class="btn btn-warning mb-2"><i class='fas fa-pen'></i> Edit</a>
              <button class="btn btn-danger mb-2" data-toggle='modal' data-target="#destroy<%= @user.id %>"><i class='fas fa-times-circle'></i> Destroy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="destroy<%= @user.id %>">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="text-danger m-0" style="font-size: 6rem;"><i class="fas fa-exclamation-circle"></i></p>
        <p class="font-weight-bold" style="font-size:2rem;">Are you sure?</p>
        <p style="font-size:1.25rem;">You will not be able to recover this user!</p>
        <%= link_to "Yes, delete it!".html_safe, user_path(@user), :method => :delete, :class => 'btn-lg waves-effect waves-light btn-danger btn-rounded' %>
        <button type="button" class="btn-lg waves-effect waves-light btn-secondary btn-rounded" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
