<% if @video.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h3>
        <ul>
          <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_with(model: [@post, @video], local: true) do |f| %>
<div class="col-md-12">
  <div class="form-group">
    <%= link_to 'Back', edit_post_path(@post), class: 'btn btn-secondary' %>
    <%= f.submit nil, :class => 'btn btn-success' %>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.text_field :title, :class => 'form-control', placeholder: 'Insert Title Here', required: true, style: 'font-size:1.5rem;' %>
        <%=f.error_span(:title) %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% unless @video.video_url.present? %>
            <div class="form-group">
              <%= f.label :file, :class => 'col-form-label' %>
              <% if @video.file.present? %>
                <div class="w-100">
                  <video controls width="100%" height="300" src="<%= @video.file %>"></video>
                </div>
              <% end %>
              <%= f.file_field :file, :class => 'form-control' %>
              <%=f.error_span(:file) %>
            </div>
          <% end %>
          <% unless @video.file.present? %>
            <div class="form-group">
              <%= f.label 'Youtube Video Link', :class => 'col-form-label text-capitalize' %>
              <%= f.text_field :video_url, :class => 'form-control' %>
              <%=f.error_span(:video_url) %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :thumbnail_image, :class => 'col-form-label text-capitalize' %>
            <% if @video.thumbnail_image.nil? || @video.thumbnail_image.blank? %>
              <%= f.file_field :thumbnail_image, :class => 'dropify','data-max-file-size'=>'1M' %>
            <% else %>
              <%= f.file_field :thumbnail_image, :class => 'dropify','data-max-file-size'=>'1M', 'data-default-file' => @video.thumbnail_image.url %>
            <% end %>
            <%=f.error_span(:thumbnail_image) %>
          </div>
          <div class="form-group">
            <%= f.label :caption, :class => 'col-form-label' %>
            <%= f.text_field :caption, :class => 'form-control' %>
            <%=f.error_span(:caption) %>
          </div>
          <div class="form-group">
            <%= f.label :artist_id, class: 'control-label' %>
            <%= f.select :artist_id, Artist.all.order(:name).map {|s| [s.name, s.id ]},{:include_blank => '-Choose Artist-'}, :class=>"form-control w-100 select2" %>
          </div>
          <div class="form-group">
            <%= f.label :description, :class => 'col-form-label' %>
            <%= f.text_area :description, :class => 'form-control', rows: 5 %>
            <%=f.error_span(:description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">SEO</h3>
      <hr>
      <div class="form-group">
        <%= f.label :seo_title, :class => 'col-form-label' %>
        <%= f.text_field :seo_title, :class => 'form-control' %>
        <%=f.error_span(:seo_title) %>
      </div>
      <div class="form-group">
        <%= f.label :meta_description, :class => 'col-form-label' %>
        <%= f.text_field :meta_description, :class => 'form-control' %>
        <%=f.error_span(:meta_description) %>
      </div>
    </div>
  </div>
</div>
<% end %>
