<%- model_class = Video -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @video.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd><%= @video.file %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_url) %>:</strong></dt>
  <dd><%= @video.video_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thumbnail_image) %>:</strong></dt>
  <dd><%= @video.thumbnail_image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caption) %>:</strong></dt>
  <dd><%= @video.caption %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @video.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seo_title) %>:</strong></dt>
  <dd><%= @video.seo_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meta_description) %>:</strong></dt>
  <dd><%= @video.meta_description %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              videos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_video_path(@video), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              video_path(@video),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
