<% if @event.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.text_field :title, :class => 'form-control', placeholder: 'Insert Title Here', required: true, style: 'font-size:1.5rem;' %>
        <%=f.error_span(:title) %>
      </div>
      <% unless @event.new_record? %>
        <div class="row form-group">
          <%= f.label :slug, class: 'col-form-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :slug, :class => 'form-control' %>
            <%=f.error_span(:slug) %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.cktext_area :content, :class => 'form-control' %>
        <%=f.error_span(:content) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group text-center">
        <% unless @event.new_record? %>
          <% if @event.status == 'publish' %>
            <%= link_to 'Show', event_path(@event), class: 'btn btn-info', target: '_blank' %>
          <% else %>
            <%= link_to 'Preview', events_preview_path(@event), class: 'btn btn-info', target: '_blank' %>
          <% end %>
        <% end %>
        <%= f.submit 'Save Draft', name: 'save_draft', :class => 'btn btn-light' %>
        <%= f.submit 'Publish', name: 'publish', :class => 'btn btn-success' %>
      </div>
      <div class="card">
        <div class="card-body">
          <% if @event.status.present? %>
            <div class="form-group">
              Status: <strong><%= @event.status.upcase %></strong>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label 'Author' %>
            <%= f.select :user_id, @users.map {|s| [s.username, s.id ]},{:include_blank => '-Choose Author-'}, :class=>"form-control w-100 select2", required: true %>
            <%=f.error_span(:user_id) %>
          </div>
          <div class="form-group">
            <%= f.label :publish_date, :class => 'text-capitalize' %>
            <%= f.datetime_field :publish_date, :class => 'form-control', required: true %>
            <%=f.error_span(:publish_date) %>
          </div>
          <% unless @event.new_record? %>
            <% unless @event.status == 'trash' %>
              <a href="<%= events_to_trash_path(@event) %>" class="btn btn-danger"><i class="fas fa-trash"></i> Move To Trash</a>
            <% end %>
          <% end %>
          <hr>
          <div class="form-group">
            <label>Categories</label>
            <div style="height:300px;overflow-y:scroll;border: 1px #cecece solid;padding: 0.5rem;">
              <ul class="p-0" style="list-style-type: none;">
                <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |item| %>
                  <li class="mr-2 mb-2 <%= 'ml-3' if item.object.parent.present? %>">
                    <div class="custom-control custom-checkbox">
                      <%= item.check_box class: "custom-control-input" %>
                      <%= item.label class: 'custom-control-label' %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :feature_image, class: 'text-capitalize' %>
            <% if @event.feature_image.nil? || @event.feature_image.blank? %>
              <%= f.file_field :feature_image, :class => 'dropify','data-max-file-size'=>'1M' %>
            <% else %>
              <%= f.file_field :feature_image, :class => 'dropify','data-max-file-size'=>'1M', 'data-default-file' => @event.feature_image.url %>
            <% end %>
            <%=f.error_span(:feature_image) %>
          </div>
          <div class="form-group">
            <%= f.label 'Tags' %>
            <%= f.text_field :tag_list, :class => 'event_tag_list', :value => @event.tag_list.join(",") %>
            <%=  @event.tag_list %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Venue Information</h3>
          <hr>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label :venue_id %>
              <%= f.select :venue_id, @venues.map {|s| [s.title, s.id ]},{:include_blank => '-Choose Venue-'}, :class=>"form-control w-100 select2" %>
              <%=f.error_span(:venue_id) %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :price %>
              <div class="row">
                <%= f.select :currency, Event::CURRENCY.map {|r| [r.upcase, r] }, {:include_blank => '- Currency -'}, :class => 'form-control col-md-3' %>
                <%= f.number_field :price, :class => 'form-control col-md-9' %>
              </div>
              <%=f.error_span(:price) %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :start_date, class: 'text-capitalize' %>
              <%= f.datetime_field :start_date, :class => 'form-control' %>
              <%=f.error_span(:start_date) %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :finish_date, class: 'text-capitalize' %>
              <%= f.datetime_field :finish_date, :class => 'form-control' %>
              <%=f.error_span(:finish_date) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">SEO</h3>
          <hr>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label :seo_title, class: 'text-capitalize' %>
              <%= f.text_field :seo_title, :class => 'form-control' %>
              <%=f.error_span(:seo_title) %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :focus_keyphrase, class: 'text-capitalize' %>
              <%= f.text_field :focus_keyphrase, :class => 'form-control' %>
              <%=f.error_span(:focus_keyphrase) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :meta_description, :class => 'text-capitalize' %>
            <%= f.text_area :meta_description, :class => 'form-control' %>
            <%=f.error_span(:meta_description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('.event_tag_list').selectize({
    options:[
    <% ActsAsTaggableOn::Tag.all.each_with_index do |x, i|  %>
    {value:"<%= x %>", text:"<%= x %>"},
    <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
    delimiter: ',',
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });
</script>
