<% @events.each do |event| %>
  <tr>
    <td class="text-center"><%= link_to event.id, event_path(event) %></td>
    <td class="text-center"><%= event.title %></td>
    <td class="text-center text-uppercase"><%= event.status %></td>
    <td class="text-center">
      <% if event.start_date.present? %>
        Start: <br>
        <%= event.start_date.strftime("%Y/%m/%d@%H:%M:%S") %><br>
        Finish: <br>
        <%= event.finish_date.strftime("%Y/%m/%d@%H:%M:%S") if event.finish_date.present? %>
      <% end %>
    </td>
    <td class="text-center text-capitalize">
      <% if event.categories.present? %>
        <% event.categories.each_with_index do |cat, index| %>
          <% if (index+1) == event.categories.length %>
            <%= cat.name %>
          <% else %>
            <%= cat.name + ', ' %>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td class="text-center text-capitalize">
      <% if event.publish_date.present? %>
        Published:<br> <%= event.publish_date.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %><br>
      <% end %>
      Last Updated:<br> <%= event.updated_at.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %>
    </td>
    <td class="text-center text-capitalize">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if event.status == 'publish' %>
            <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, event_path(event), :class => 'dropdown-item', target: '_blank' %>
          <% else %>
            <%= link_to "<i class='fas fa-eye'></i> Preview".html_safe, events_preview_path(event), :class => 'dropdown-item', target: '_blank' %>
          <% end %>
          <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_event_path(event), :class => 'dropdown-item' %>
          <% if event.status == 'trash' %>
            <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, event_path(event), :class => 'dropdown-item', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
<% end %>
