<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
	<div class="background-layer-opacity-black">
	</div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">events</h1>
          </div>
          <div class="row">
            <div class="col-md-12 text-white">
              <div class="table-responsive">
                <table class="table table-hover table-border">
                  <% @events.each do |event| %>
                    <tr>
                      <td class="table-cell-item">
                        <% if event.start_date.present? %>
                          <p class="text-white text-center mb-0">
                            <span class="event-day-number"><%= event.start_date.strftime("%d") %></span><br>
                            <span><%= event.start_date.strftime("%b") %></span>
                          </p>
                        <% end %>
                      </td>
                      <td class="table-cell-item table-event-title">
                        <h3 class="mb-3 text-warning event-title"><%= event.title %></h3>
                        <p class="text-white mb-0">
                          <% if event.start_date.present? && event.finish_date.present? %>
                            <span class="pr-3"><i class="fas fa-clock"></i> <%= event.start_date.strftime("%H:%M %p") %> - <%= event.finish_date.strftime("%H:%M %p") %></span>
                          <% end %>
                          <% if event.venue.present? %>
                            <i class="fas fa-location-arrow"></i> <%= event.venue.title %>
                          <% end %>
                        </p>
                      </td>
                      <td class="table-cell-item text-center">
                        <% if event.currency.present? && event.price.present? %>
                          <p class="text-white mb-0">
                            <% if event.price <= 0 %>
                              <strong>FREE</strong>
                            <% else %>
                              <strong><%= event.currency.upcase %> <%= number_to_human(event.price) %></strong>
                            <% end %>
                          </p>
                        <% else %>
                          <p class="text-white mb-0">
                            <strong>FREE</strong>
                          </p>
                        <% end %>
                      </td>
                      <td class="table-cell-item text-center">
                        <a href="<%= event_path(event) %>" class="btn btn-warning">More Info</a>
                      </td>
                    </tr>
                  <% end%>
                </table>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 text-center">
              <%= paginate @events %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
