<%- model_class = Event -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">
        <%= action_name.capitalize unless action_name == 'index' %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      </h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
            <li class="breadcrumb-item active">
              <%= if action_name == 'index'
                'All'
              else
                action_name.capitalize
              end %>
              <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "<i class='fas fa-plus-circle'></i> Add New".html_safe, new_event_path, :class => 'btn waves-effect waves-light btn-rounded btn-success mb-2' %>
      <%= render :partial => 'nav_buttons' %>
      <%= render :partial => 'search' %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center text-uppercase"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:title) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:status) %></th>
                  <th class="text-center text-capitalize">Event Date</th>
                  <th class="text-center text-capitalize">
                    Categories
                  </th>
                  <th class="text-center text-capitalize">Date</th>
                  <th class="text-center text-capitalize"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <%= render :partial => 'table_event' %>
              </tbody>
            </table>
            <%= paginate @events %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
