<%- model_class = Event -%>
<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-9">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title"><%= @event.title %></h1>
          </div>
          <div class="row">
            <div class="col-md-4 text-white mb-4">
              <% if @event.feature_image.present? %>
                <img src="<%= @event.feature_image.url %>" alt="" class="w-100 mb-3">
              <% end %>
              <% if @event.start_date.present? %>
                <p>
                  <strong class="text-warning">Date:</strong><br>
                  <%= @event.start_date.strftime("%B %d, %Y at %H:%M %p") %>
                </p>
              <% end %>
              <% if @event.venue.present? %>
                <p>
                  <strong class="text-warning">Address:</strong><br>
                  <%= @event.venue.title %><br>
                  <%= @event.venue.address if @event.venue.address.present? %>
                </p>
              <% end %>
              <% if @event.start_date.present? && @event.finish_date.present? %>
              <p>
                <strong class="text-warning">Time:</strong><br>
                <%= @event.start_date.strftime("%H:%M %p")  %> - <%= @event.finish_date.strftime("%H:%M %p") %>
              </p>
              <% end %>
              <% if @event.currency.present? && @event.price.present? %>
                <p class="text-white mb-0">
                  <% if @event.price <= 0 %>
                    <a href="#" class="btn btn-warning">Free</a>
                  <% else %>
                    <a href="#" class="btn btn-warning">Buy Ticket <%= @event.currency.upcase %> <%= number_to_human(@event.price) %></a>
                  <% end %>
                </p>
              <% else %>
                <p class="text-white mb-0">
                  <a href="#" class="btn btn-warning">Free</a>
                </p>
              <% end %>
            </div>
            <div class="col-md-8 text-white text-content">
              <%= @event.content.html_safe %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 section-title-block mb-4">
            <h2 class="text-uppercase text-white section-title">upcoming events</h2>
          </div>
          <% @events.limit(3).each do |event| %>
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="mb-3 text-warning event-title"><%= event.title %></h3>
              </div>
              <div class="col-md-3 col-3">
                <% if event.start_date.present? %>
                <p class="text-white text-center">
                  <span class="event-day-number"><%= event.start_date.strftime("%d") %></span><br>
                  <span><%= event.start_date.strftime("%b") %></span>
                </p>
                <% end %>
              </div>
              <div class="col-md-9 col-9">
                <% if event.start_date.present? && event.finish_date.present? %>
                  <p class="text-white"><i class="fas fa-clock"></i> <%= event.start_date.strftime("%H:%M %p") %> - <%= event.finish_date.strftime("%H:%M %p") %></p>
                <% end %>
                <% if event.venue.present? %>
                  <p class="text-white"><i class="fas fa-location-arrow"></i> <%= event.venue.title %></p>
                <% end %>
              </div>
              <div class="col-md-12 text-right">
                <a href="<%= event_path(event) %>" class="btn btn-warning">More Details</a>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="<%= events_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
