<% if @page.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h3>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @page, :html => { :class => "form-horizontal page" } do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.text_field :title, :class => 'form-control', placeholder: 'Insert Title Here', required: true, style: 'font-size:1.5rem;' %>
        <%=f.error_span(:title) %>
      </div>
      <% unless @page.new_record? %>
        <div class="row form-group">
          <%= f.label :slug, class: 'col-form-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :slug, :class => 'form-control' %>
            <%=f.error_span(:slug) %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.cktext_area :content, :class => 'form-control' %>
        <%=f.error_span(:content) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group text-center">
        <% unless @page.new_record? %>
          <% if @page.status == 'publish' %>
            <%= link_to 'Show', page_path(@page), class: 'btn btn-info', target: '_blank' %>
          <% else %>
            <%= link_to 'Preview', pages_preview_path(@page), class: 'btn btn-info', target: '_blank' %>
          <% end %>
        <% end %>
        <%= f.submit 'Save Draft', name: 'save_draft', :class => 'btn btn-light' %>
        <%= f.submit 'Publish', name: 'publish', :class => 'btn btn-success' %>
      </div>
      <div class="card">
        <div class="card-body">
          <% if @page.status.present? %>
            <div class="form-group">
              Status: <strong><%= @page.status.upcase %></strong>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label 'Author' %>
            <%= f.select :user_id, @users.map {|s| [s.username, s.id ]},{:include_blank => '-Choose Author-'}, :class=>"form-control w-100 select2", required: true %>
            <%=f.error_span(:user_id) %>
          </div>
          <% unless @page.new_record? %>
            <% unless @page.status == 'trash' %>
              <a href="<%= pages_to_trash_path(@page) %>" class="btn btn-danger"><i class="fas fa-trash"></i> Move To Trash</a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">SEO</h3>
          <hr>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.label :seo_title, class: 'text-capitalize' %>
              <%= f.text_field :seo_title, :class => 'form-control' %>
              <%=f.error_span(:seo_title) %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :focus_keyphrase, class: 'text-capitalize' %>
              <%= f.text_field :focus_keyphrase, :class => 'form-control' %>
              <%=f.error_span(:focus_keyphrase) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :meta_description, :class => 'text-capitalize' %>
            <%= f.text_area :meta_description, :class => 'form-control' %>
            <%=f.error_span(:meta_description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
