<div>
    <a href="<%= pages_path %>" class="btn waves-effect waves-light btn-rounded btn-outline-dark mb-2"> All</a>
    <a href="<%= pages_search_path(status:'publish') %>" class="btn waves-effect waves-light btn-rounded btn-outline-dark mb-2"> Published</a>
    <a href="<%= pages_search_path(status:'draft') %>" class="btn waves-effect waves-light btn-rounded btn-outline-dark mb-2"> Drafted</a>
    <a href="<%= pages_search_path(status:'trash') %>" class="btn waves-effect waves-light btn-rounded btn-outline-dark mb-2"> Trash</a>
</div>
