<% 
    @months = Page.select(:created_at).map{ |i| [Date::MONTHNAMES[i.created_at.month], i.created_at.month] }.uniq
    @years = Page.select(:created_at).map{ |i| i.created_at.year }.uniq
    @status = Page::STATUS.map {|r| [r.capitalize, r] }
%>
<div class="mb-1">
    <%= form_tag({action: :search}, method: 'get') do %>
        <div class="form-row">
            <div class="input-group mb-2 col">
                <%= select_tag :status, options_for_select(@status, :selected => params[:status]), include_blank: "Status", class:"form-control" %>
            </div>
            <div class="input-group mb-2 col">
                <%= select_tag :month, options_for_select(@months, :selected => params[:month]), include_blank: "Month", class:"form-control" %>
                <%= select_tag :year, options_for_select(@years, :selected => params[:year]), include_blank: "Year", class:"form-control" %>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <span class="fas fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="input-group mb-2 col">
                <%= text_field_tag :keyword, (params[:keyword] or '') , options={class: "form-control", placeholder: "Insert Keyword Here"} %>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    <% end %>
</div>