<% @pages.each do |page| %>
  <tr>
    <td class="text-center"><%= link_to page.id, page_path(page) %></td>
    <td class="text-center"><%= page.title %></td>
    <td class="text-center text-uppercase"><%= page.status %></td>
    <td class="text-center">
      <% if page.publish_date.present? %>
        Published:<br><%= page.publish_date.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %><br>
      <% end %>
      Last Updated: <br><%= page.updated_at.strftime("%Y/%m/%d@%H:%M:%S") %>
    </td>
    <td class="text-center">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if page.status == 'publish' %>
            <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, page_path(page), :class => 'dropdown-item', target: '_blank' %>
          <% else %>
            <%= link_to "<i class='fas fa-eye'></i> Preview".html_safe, pages_preview_path(page), :class => 'dropdown-item', target: '_blank' %>
          <% end %>
          <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_page_path(page), :class => 'dropdown-item' %>
          <% if page.status == 'trash' %>
            <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, page_path(page), :class => 'dropdown-item', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
<% end %>
