<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">galleries</h1>
          </div>
          <div class="row text-white mb-4">
            <% @post_images.each do |post| %>
              <% post.images.limit(12).order(created_at: :desc).each do |image| %>
                <div class="col-md-4 mb-4">
                  <a href="" class="news-card-link" data-toggle="modal" data-target="#image<%= image.id %>"></a>
                  <% if image.file.present? %>
                    <div class="news-thumbnail mb-2" style="background-image:url('<%= image.file.url %>')">
                    </div>
                  <% else %>
                    <div class="news-thumbnail mb-2" style="background-image:url('<%= asset_path 'no-thumbnail' %>')">
                    </div>
                  <% end %>
                  <% if image.caption.present? %>
                    <h2 class="text-warning news-title"><%= image.caption %></h2>
                  <% end %>
                </div>
                <div class="modal fade" id="image<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="<%= image.file.url %>" alt="" class="w-100">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 text-center">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">videos</h1>
          </div>
          <div class="row text-white mb-4">
            <% @post_videos.each do |post| %>
              <% post.videos.limit(12).order(created_at: :desc).each do |video| %>
                <div class="col-md-4 mb-4">
                  <a href="" class="news-card-link" data-toggle="modal" data-target="#video<%= video.id %>"></a>
                  <% if video.thumbnail_image.present? %>
                    <div class="news-thumbnail mb-2" style="background-image:url('<%= video.thumbnail_image.url %>')">
                    </div>
                  <% else %>
                    <div class="news-thumbnail mb-2" style="background-image:url('<%= asset_path 'no-thumbnail' %>')">
                    </div>
                  <% end %>
                  <h2 class="text-warning news-title"><%= video.title %></h2>
                </div>
                <% if video.file.present? || video.video_url.present? %>
                  <div class="modal fade" id="video<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <% if video.file.present? %>
                            <video controls width="100%" height="400" src="<%= video.file %>"></video>
                          <% end %>
                          <% if video.video_url.present? %>
                            <iframe width="100%" height="500" src="http://www.youtube.com/embed/<%= video.video_url.delete_prefix("https://www.youtube.com/watch?v=") %>" frameborder="0"></iframe>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 text-center">

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
