<section class="mb-6 main-image" style="background-image:url('<%= asset_url('mainimage.jpg') %>');">
  <div class="layer-main-image">
  </div>
  <div class="row">
      <div class="text-center main-box">
          <h2 class="text-white text-uppercase font-weight-bold mb-3 letter-spacing-3">your entertainment partner</h2>
          <p class="text-white text-uppercase font-weight-bold mb-5 main-sub-text letter-spacing-3" style="font-family:'Rubik-Light';">
          we organize entertainment for wedding, special event,<br>and company's gathering
          </p>
          <!-- <div class="m-auto next-event-block">
              <h3 class="text-white text-uppercase mb-3 letter-spacing-3">next event in:</h3>
              <div class="bg-secondary p-3" style="font-size:1.5rem;">
                  <p class="m-0"><span class="text-warning">00</span> <span class="text-white text-uppercase letter-spacing-3">hours</span> <span class="text-warning">00</span> <span class="text-white text-uppercase letter-spacing-3">minutes</span> <span class="text-warning">00</span> <span class="text-white text-uppercase letter-spacing-3">second</span></p>
              </div>
          </div> -->
      </div>
  </div>
</section>
<div class="container">
  <% if @artists.present? %>
    <section class="mb-6">
      <div class="row mb-4">
        <div class="col-md-12 section-title-block">
          <h2 class="text-uppercase text-white page-title">our artists</h2>
        </div>
      </div>
        <div class="owl-carousel">
          <% @artists.each do |artist| %>
            <div class="p-2">
              <div class="mb-3 artist-box">
                <img src="<%= artist.artist_portrait.medium_large.url %>" alt="" class="w-100">
                <div class="artist-details-layer">
                  <div class="artist-details-background">
                  </div>
                  <div class="artist-details">
                    <a href="<%= artist_path(artist) %>" class="artist-link"></a>
                    <i class="fas fa-search artist-search-logo"></i>
                    <h3 class="text-uppercase text-white letter-spacing-3"><%= artist.name %></h3>
                    <p class="text-warning letter-spacing-3 text-uppercase artist-role">
                      <% artist.genres.take(5).each do |genre| %>
                        <% if genre == artist.genres.take(5)[artist.genres.take(5).length.to_i - 1] %>
                          <%= genre.name %>
                        <% else %>
                          <%= genre.name + ',' %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 text-center mt-3">
          <a href="<%= artists_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
        </div>
    </section>
  <% end %>
  <% if @post_videos.present? %>
    <section class="mb-6">
      <div class="row">
        <div class="col-md-12 section-title-block mb-5">
          <h2 class="text-uppercase text-white page-title">latest video</h2>
        </div>
        <div class="col-md-8">
          <% if @first_video.file.present? || @first_video.video_url.present? %>
            <% if @first_video.file.present? %>
              <video controls width="100%" height="500" src="<%= @first_video.file %>"></video>
            <% end %>
            <% if @first_video.video_url.present? %>
              <iframe width="100%" height="500" src="http://www.youtube.com/embed/<%= @first_video.video_url.delete_prefix("https://www.youtube.com/watch?v=") %>" frameborder="0"></iframe>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-4 list-video-scroll-y">
          <% @post_videos.each do |post|  %>
            <% post.videos.order(created_at: :desc).each do |video| %>
              <div class="col-md-12 mb-3">
                <a href="<%= post_path(post) %>">
                  <% if video.thumbnail_image.present? %>
                    <img src="<%= video.thumbnail_image.url %>" alt="" class="w-100">
                  <% else %>
                    <img src="<%= asset_path 'no-thumbnail' %>" alt="" class="w-100">
                  <% end %>
                </a>
                <a href="<%= post_path(post) %>" class="text-warning news-title">
                  <p><%= video.title %></p>
                </a>
              </div>
            <% end %>
          <% end %>
          <div class="col-md-12 text-center mt-2 mb-2">
            <a href="<%= pages_galleries_path %>" class="btn btn-lg btn-outline-warning">View More</a>
          </div>
        </div>
      </div>
    </section>
  <% end %>
  <section class="mb-6">
    <div class="row justify-content-center">
      <div class="col-md-8 mb-4">
        <div class="col-md-12 section-title-block mb-4">
          <h2 class="text-uppercase text-white page-title">news update</h2>
        </div>
        <% @posts.each do |post| %>
          <div class="row mb-5">
            <div class="col-md-4">
              <% if post.feature_image.present? %>
                <div class="news-thumbnail" style="background-image:url('<%= post.feature_image.medium.url %>')">
                </div>
              <% else %>
                <div class="news-thumbnail" style="background-image:url('<%= asset_path 'no-thumbnail' %>')">
                </div>
              <% end %>
            </div>
            <div class="col-md-8">
              <h3 class="text-warning news-title"><%= post.title %></h3>
              <p class="text-white mb-2"><%= post.publish_date.strftime("%B %d, %Y at %H:%M %p") %></p>
              <div class="text-white" style="overflow-wrap:break-word;">
                  <%= post.meta_description.truncate(150).html_safe %>
              </div>
              <div class="float-right">
                <a href="<%= post_path(post) %>" class="btn btn-warning">Read More</a>
              </div>
            </div>
          </div>
        <% end %>
        <% if @posts.present? %>
          <div class="row mt-2 mb-2">
            <div class="col-md-12 text-center">
              <a href="<%= posts_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 section-title-block mb-4">
          <h2 class="text-uppercase text-white page-title">upcoming events</h2>
        </div>
        <% @events.each do |event| %>
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="mb-3 text-warning event-title"><%= event.title %></h3>
            </div>
            <div class="col-md-3 col-3">
              <% if event.start_date.present? %>
                <p class="text-white text-center">
                  <span class="event-day-number"><%= event.start_date.strftime("%d") %></span><br>
                  <span><%= event.start_date.strftime("%b") %></span>
                </p>
              <% end %>
            </div>
            <div class="col-md-9 col-9">
              <% if event.start_date.present? && event.finish_date.present? %>
                <p class="text-white"><i class="fas fa-clock"></i> <%= event.start_date.strftime("%H:%M %p") %> - <%= event.finish_date.strftime("%H:%M %p") %></p>
              <% end %>
              <% if event.venue.present? %>
                <p class="text-white"><i class="fas fa-location-arrow"></i> <%= event.venue.title %></p>
              <% end %>
            </div>
            <div class="col-md-12 text-right">
              <a href="<%= event_path(event) %>" class="btn btn-warning">More Info</a>
            </div>
          </div>
        <% end %>
        <% if @events.present? %>
          <div class="row mt-2 mb-2">
            <div class="col-md-12 text-center">
              <a href="<%= events_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% if @latest_concert_photos.present? %>
    <section class="mb-6">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block">
            <h2 class="text-uppercase text-white page-title">latest concert photos</h2>
          </div>
        </div>
      </div>
        <div class="row latest-concert-photo-section justify-content-center" style="background-image: url('<%= asset_url('djvideo3.jpg') %>');">
          <% @latest_concert_photos.each do |image| %>
            <div class="col-md-4 mb-4">
              <img src="<%= image %>" alt="" class="w-100">
            </div>
          <% end %>
        </div>
    </section>
  <% end %>
  <%= show_popup(1) %>
