<%- model_class = Page -%>
<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title"><%= @page.title %></h1>
          </div>
          <div class="col-md-12 text-white mb-4">
            <% if @page.content.present? %>
              <%= @page.content.html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
