<% if @venue.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h3>
        <ul>
          <% @venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @venue, :html => { :class => "form-horizontal venue" } do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.text_field :title, :class => 'form-control', placeholder: 'Insert Title Here', required: true, style: 'font-size:1.5rem;' %>
        <%=f.error_span(:title) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group text-center">
        <%= f.submit nil, :class => 'btn btn-success btn-block' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Address Information</h3>
          <hr>
          <div class="row form-group">
            <%= f.label :address, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :address, :class => 'form-control' %>
              <%=f.error_span(:address) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :city, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :city, :class => 'form-control' %>
              <%=f.error_span(:city) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :state_or_province, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_field :state_or_province, :class => 'form-control' %>
              <%=f.error_span(:state_or_province) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :country, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :country, :class => 'form-control' %>
              <%=f.error_span(:country) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :postal_code, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_field :postal_code, :class => 'form-control' %>
              <%=f.error_span(:postal_code) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :phone, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :phone, :class => 'form-control' %>
              <%=f.error_span(:phone) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :website, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.url_field :website, :class => 'form-control' %>
              <%=f.error_span(:website) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.cktext_area :content, :class => 'form-control' %>
        <%=f.error_span(:content) %>
      </div>
    </div>
  </div>
<% end %>
