<%- model_class = Venue -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">
        <%= action_name.capitalize unless action_name == 'index' %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      </h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
            <li class="breadcrumb-item active">
              <%= if action_name == 'index'
                'All'
              else
                action_name.capitalize
              end %>
              <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "<i class='fas fa-plus-circle'></i> Add New".html_safe, new_venue_path, :class => 'btn waves-effect waves-light btn-rounded btn-success mb-2' %>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center text-uppercase"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:title) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:address) %></th>
                  <th class="text-center text-capitalize"><%= model_class.human_attribute_name(:created_at) %></th>
                  <th class="text-center text-capitalize"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @venues.each do |venue| %>
                  <tr>
                    <td class="text-center"><%= link_to venue.id, venue_path(venue) %></td>
                    <td class="text-center"><%= venue.title %></td>
                    <td class="text-center"><%= venue.address %></td>
                    <td class="text-center"><%= venue.created_at.strftime("%Y/%M/%d@%H:%M:%S") %></td>
                    <td class="text-center">
                      <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, venue_path(venue), :class => 'btn-sm waves-effect waves-light btn-info mb-1' %>
                      <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_venue_path(venue), :class => 'btn-sm waves-effect waves-light btn-warning mb-1' %>
                      <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, venue_path(venue), :class => 'btn-sm waves-effect waves-light btn-danger mb-1', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
