<div class="row justify-content-center">
  <h1 class="d-none">Contact</h1>
  <div class="col-md-12 text-center mb-5">
    <h2 class="text-white">We want to collaborate with you!</h2>
    <h3 class="text-white" style="font-size:20px;">Fill in the form, click the ‘Submit!’ button, and let’s have chat over a cup of coffee!</h3>
  </div>
  <div class="col-md-6">
    <div class="card" style="background-color: rgba(78,78,78,.5);">
      <div class="card-body">
        <% if notice.present? %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <% if @contact.errors.any? %>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger" role="alert">
                <h3 class="alert-heading"><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being send:</h3>
                <ul>
                  <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="col-form-label text-white">Your Name</label>
              <%= f.text_field :name, :class => 'form-control', required: true %>
              <%=f.error_span(:name) %>
            </div>
            <div class="col-md-6 form-group">
              <label class="col-form-label text-white">Work Email</label>
              <%= f.text_field :email, :class => 'form-control', required: true %>
              <%=f.error_span(:email) %>
            </div>
            <div class="col-md-6 form-group">
              <label class="col-form-label text-white">Contact Number</label>
              <%= f.text_field :phone, :class => 'form-control' %>
              <%=f.error_span(:phone) %>
            </div>
            <div class="col-md-6 form-group">
              <label class="col-form-label text-white">What do you have in mind?</label>
              <%= f.select :pilihan, Contact::PILIHAN.map {|p| [p]}, {:include_blank => '-Choose-'}, :class=>"form-control" %>
              <%=f.error_span(:phone) %>
            </div>
            <div class="col-md-12 form-group">
              <%= f.label :message, :class => 'col-form-label text-white' %>
              <%= f.text_area :message, :class => 'form-control', rows:5 %>
              <%=f.error_span(:message) %>
            </div>
            <div class="col-md-12 text-center form-group">
              <%= f.submit 'Send', :class => 'btn btn btn-outline-warning' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
