<%- model_class = Contact -%>
<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5 pb-6">
      <%= render :partial => 'form' %>
    </section>
  </div>
</div>
<%= show_popup(0) %>
