<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h1 class="page-title">Dashboard</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-info text-white">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div class="text-white">
              <h2><%= @total_post %></h2>
              <h6>Posts</h6>
            </div>
            <div class="ml-auto">
              <span class="text-white display-6"><i class="fas fa-pen"></i></span>
            </div>
          </div>
          <hr>
          <div class="d-flex no-block align-items-center">
            <div>
              <h3 class="font-medium"><%= @total_post_publish %></h3>
              <h5 class="m-b-0">Publish</h5>
            </div>
            <div class="ml-auto">
              <h3 class="font-medium"><%= @total_post_draft %></h3>
              <h5 class="m-b-0">Draft</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-success text-white">
        <div class="card-body">
          <div class="d-flex no-block align-items-center">
            <div class="text-white">
              <h2><%= @total_event %></h2>
              <h6>Events</h6>
            </div>
            <div class="ml-auto">
              <span class="text-white display-6"><i class="fas fa-music"></i></span>
            </div>
          </div>
          <hr>
          <div class="d-flex no-block align-items-center">
            <div>
              <h3 class="font-medium"><%= @total_event_publish %></h3>
              <h5 class="m-b-0">Publish</h5>
            </div>
            <div class="ml-auto">
              <h3 class="font-medium"><%= @total_event_draft %></h3>
              <h5 class="m-b-0">Draft</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body bg-primary">
          <div class="d-flex no-block align-items-center">
            <div class="text-white">
              <h2><%= @total_page %></h2>
              <h6>Pages</h6>
            </div>
            <div class="ml-auto">
              <span class="text-white display-6"><i class="fas fa-file"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body bg-warning">
          <div class="d-flex no-block align-items-center">
            <div class="text-white">
              <h2><%= @total_artist %></h2>
              <h6>Artists</h6>
            </div>
            <div class="ml-auto">
              <span class="text-white display-6"><i class="fas fa-star"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
