<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" bgcolor="black" style="padding: 20px 0 20px 0;">
            <%= image_tag 'tbunc-logo.png', width: 300, alt: 'Logo Tbunc', style: 'display:block;' %>
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;font-family: Arial, sans-serif;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td>
                  <p style="font-size: 24px;">
                   <b>Notifikasi Kontak Masuk</b>
                  </p>
                  <p>
                    Nama : <%= @data.name rescue '-'%>
                  </p>
                  <p>
                    Email : <%= @data.email rescue '-' %>
                  </p>
                  <p>
                    Phone : <%= @data.phone rescue '-' %>
                  </p>
                  <p>
                    Pilihan : <%= @data.pilihan rescue '-' %>
                  </p>
                  <p>
                    Pesan : <br>
                    <%= @data.message rescue '-' %>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
