<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" bgcolor="black" style="padding: 20px 0 20px 0;">
            <%= image_tag 'tbunc-logo.png', width: 300, alt: 'Logo Tbunc', style: 'display:block;' %>
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;font-family: Arial, sans-serif;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td>
                  <p style="font-size: 24px;">
                   <b>Thank you for contacting us!</b>
                  </p>
                  <p>
                    We have received your message. We'll reach you out immediately!
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" bgcolor="black" style="padding: 20px 0 20px 0;color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
            <p>
              Our Social Media: <br>
              <strong><a href="https://www.facebook.com/T-Bunc-Collaboration-105886454543213/">Facebook</a> <a href="https://www.instagram.com/tbunc_collaboration/">Instagram</a> <a href="https://www.youtube.com/channel/UCDbe1VBSjj3Tw-2VAOQKdDQ/featured">Youtube</a></strong>
            </p>
            <p>
              &reg; T-Bunc Enterprise
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
