<% if @post.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <%= f.text_field :title, :class => 'form-control', placeholder: 'Insert Title Here', required: true, style: 'font-size:1.5rem;' %>
      <%=f.error_span(:title) %>
    </div>
    <% unless @post.new_record? %>
      <div class="row form-group">
        <%= f.label :slug, class: 'col-form-label col-md-2' %>
        <div class="col-md-10">
          <%= f.text_field :slug, :class => 'form-control' %>
          <%=f.error_span(:slug) %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.cktext_area :content, :class => 'form-control' %>
      <%=f.error_span(:content) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group text-center">
      <% unless @post.new_record? %>
        <% if @post.status == 'publish' %>
          <%= link_to 'Show', post_path(@post), class: 'btn btn-info', target: '_blank' %>
        <% else %>
          <%= link_to 'Preview', posts_preview_path(@post), class: 'btn btn-info', target: '_blank' %>
        <% end %>
      <% end %>
      <%= f.submit 'Save Draft', name: 'save_draft', :class => 'btn btn-light' %>
      <%= f.submit 'Publish', name: 'publish', :class => 'btn btn-success' %>
    </div>
    <div class="card">
      <div class="card-body">
        <% if @post.status.present? %>
          <div class="form-group">
            Status: <strong><%= @post.status.upcase %></strong>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label 'Author' %>
          <%= f.select :user_id, @users.map {|s| [s.username, s.id ]},{:include_blank => '-Choose Author-'}, :class=>"form-control w-100 select2", required: true %>
          <%=f.error_span(:user_id) %>
        </div>
        <div class="form-group">
          <%= f.label :publish_date, :class => 'text-capitalize' %>
          <%= f.datetime_field :publish_date, :class => 'form-control', required: true %>
          <%=f.error_span(:publish_date) %>
        </div>
        <% unless @post.new_record? %>
          <div class="form-group">
            Created At: <strong><%= @post.created_at.strftime("%Y/%m/%d@%H:%M:%S") %></strong>
          </div>
          <% unless @post.status == 'trash' %>
            <a href="<%= posts_to_trash_path(@post) %>" class="btn btn-danger"><i class="fas fa-trash"></i> Move To Trash</a>
          <% end %>
        <% end %>
        <hr>
        <div class="form-group">
          <label>Categories</label>
          <div style="height:300px;overflow-y:scroll;border: 1px #cecece solid;padding: 0.5rem;">
            <ul class="p-0" style="list-style-type: none;">
              <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |item| %>
                <li class="mr-2 mb-2 <%= 'ml-3' if item.object.parent.present? %>">
                  <div class="custom-control custom-checkbox">
                    <%= item.check_box class: "custom-control-input" %>
                    <%= item.label class: 'custom-control-label' %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :feature_image, class: 'text-capitalize' %>
          <% if @post.feature_image.nil? || @post.feature_image.blank? %>
            <%= f.file_field :feature_image, :class => 'dropify','data-max-file-size'=>'1M' %>
          <% else %>
            <%= f.file_field :feature_image, :class => 'dropify','data-max-file-size'=>'1M', 'data-default-file' => @post.feature_image.url %>
          <% end %>
          <%=f.error_span(:feature_image) %>
        </div>
        <div class="form-group">
          <%= f.label 'Tags' %>
          <%= f.text_field :tag_list, :class => 'post_tag_list', :value => @post.tag_list.join(",") %>
          <%=  @post.tag_list %>
        </div>
        <div class="form-group">
          <%= f.label :post_format, :class => 'text-capitalize' %>
          <%= f.select :post_format, Post::POST_FORMAT.map {|r| [r.capitalize, r] }, {:include_blank => '- Choose Post Format -'}, :class => 'form-control' %>
          <%=f.error_span(:post_format) %>
        </div>
      </div>
    </div>
  </div>
  <% unless @post.new_record? %>
    <% if @post.post_format == 'image' %>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Images</h3>
            <hr>
            <div class="row" id="image">
              <%= f.fields_for :images do |image, index| %>
                <%= render 'posts/image_fields', f: image %>
              <% end %>
              <div class="col-md-4">
                <%= link_to_add_association f, :images , class: "btn btn-lg btn-primary btn-block mb-2", partial: 'image_fields_new' do %>
                <i class="fa fa-plus" aria-hidden="true"></i> Add Image
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @post.post_format == 'video' %>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Videos</h3>
            <hr>
            <a href="<%= new_post_video_path(@post) %>" class="btn btn-success mb-2"><i class="fa fa-plus" aria-hidden="true"></i> Add Video</a>
            <div class="row">
              <% @videos.order(created_at: :desc).each do |video| %>
                <div class="col-md-4">
                  <div class="card border text-center">
                    <% if video.thumbnail_image.nil? || video.thumbnail_image.blank? %>
                      <img src="<%= asset_path 'no-thumbnail' %>" alt="" class="w-100 mb-2">
                    <% else %>
                      <img src="<%= video.thumbnail_image.url %>" alt="" class="w-100 mb-2">
                    <% end %>
                    <p><%= video.title %></p>
                    <div class="mb-2">
                      <a href="<%= edit_post_video_path(post_id: @post, id: video) %>" class="btn-sm btn-warning">Edit</a>
                      <%= link_to 'Delete', post_video_path(@post, video), :class => 'btn-sm btn-danger mb-1', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @post.post_format == 'audio' %>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Audios</h3>
            <hr>
            <a href="<%= new_post_audio_path(@post) %>" class="btn btn-success mb-2"><i class="fa fa-plus" aria-hidden="true"></i> Add Audio</a>
            <div class="row">
              <% @audios.order(created_at: :desc).each do |audio| %>
                <div class="col-md-4">
                  <div class="card border text-center">
                    <% if audio.thumbnail_image.nil? || audio.thumbnail_image.blank? %>
                      <img src="<%= asset_path 'no-thumbnail' %>" alt="" class="w-100 mb-2">
                    <% else %>
                      <img src="<%= audio.thumbnail_image.url %>" alt="" class="w-100 mb-2">
                    <% end %>
                    <p><%= audio.title %></p>
                    <div class="mb-2">
                      <a href="<%= edit_post_audio_path(post_id: @post, id: audio) %>" class="btn-sm btn-warning">Edit</a>
                      <%= link_to 'Delete', post_audio_path(@post, audio), :class => 'btn-sm btn-danger mb-1', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">SEO</h3>
        <hr>
        <div class="row">
          <div class="col-md-6 form-group">
            <%= f.label :seo_title, class: 'text-capitalize' %>
            <%= f.text_field :seo_title, :class => 'form-control' %>
            <%=f.error_span(:seo_title) %>
          </div>
          <div class="col-md-6 form-group">
            <%= f.label :focus_keyphrase, class: 'text-capitalize' %>
            <%= f.text_field :focus_keyphrase, :class => 'form-control' %>
            <%=f.error_span(:focus_keyphrase) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :meta_description, :class => 'text-capitalize' %>
          <%= f.text_area :meta_description, :class => 'form-control' %>
          <%=f.error_span(:meta_description) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.post_tag_list').selectize({
    options:[
    <% ActsAsTaggableOn::Tag.all.each_with_index do |x, i|  %>
    {value:"<%= x %>", text:"<%= x %>"},
    <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
    delimiter: ',',
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });
</script>
