<% @posts.each do |post| %>
  <tr>
    <td class="text-center"><%= link_to post.id, post_path(post) %></td>
    <td class="text-center"><%= post.title %></td>
    <td class="text-center">
      <% if post.categories.present? %>
        <% post.categories.each_with_index do |cat, index| %>
          <% if (index+1) == post.categories.length %>
            <%= cat.name %>
          <% else %>
            <%= cat.name + ', ' %>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td class="text-center text-uppercase"><%= post.status %></td>
    <td class="text-center">
      <% if post.publish_date.present? %>
        Published:<br> <%= post.publish_date.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %><br>
      <% end %>
      Last Updated:<br> <%= post.updated_at.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %>
    </td>
    <td class="text-center">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if post.status == 'publish' %>
            <%= link_to "<i class='fas fa-eye'></i> Show".html_safe, post_path(post), :class => 'dropdown-item', target: '_blank' %>
          <% else %>
            <%= link_to "<i class='fas fa-eye'></i> Preview".html_safe, posts_preview_path(post), :class => 'dropdown-item', target: '_blank' %>
          <% end %>
          <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_post_path(post), :class => 'dropdown-item' %>
          <% if post.status == 'trash' %>
          <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, post_path(post), :class => 'dropdown-item', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
<% end %>
