<div class="col-md-6 nested-fields">
  <div class="card border">
    <div class="d-flex card-header bg-success" style="align-items:flex-start; justify-content:space-between;padding: 1rem 1rem; ">
      <h3 class="text-white m-0">Video #<%= f.index + 1%></h3>
      <%= link_to_remove_association "Remove", f , class: "btn btn-danger btn-sm", id: 'remove-item' %>
    </div>
    <div class="card-body">
      <div class="form-group">
        <% if f.object.file.present? %>
        <%= f.file_field :file, :class => 'dropify', :id=>"input-file-to-destroy", "data-max-file-size"=>'500KB', "data-allowed-file-extensions"=>"jpg jpeg png", "data-allowed-formats"=>'landscape square portrait', 'data-default-file' => f.object.file.url %>
        <% else %>
        <%= f.file_field :file, :class => 'dropify', :id=>"input-file-to-destroy", "data-max-file-size"=>'500KB', "data-allowed-file-extensions"=>"jpg jpeg png", "data-allowed-formats"=>'landscape square portrait', required: true %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :caption, class: 'control-label' %>
        <%= f.text_field :caption, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: 'control-label' %>
        <%= f.text_area :description, class: 'form-control', rows:3 %>
      </div>
      <div class="form-group">
        <%= f.label :artist_id, class: 'control-label' %>
        <%= f.select :artist_id, Artist.all.order(:name).map {|s| [s.name, s.id ]},{:include_blank => '-Choose Artist-'}, :class=>"form-control w-100 select2", required: true %>
      </div>
    </div>
  </div>
</div>
