<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
	<div class="background-layer-opacity-black">
	</div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title">news</h1>
          </div>
          <div class="row text-white mb-4">
            <% @posts.each do |post| %>
              <div class="col-md-4">
                <a href="<%= post_path(post) %>" class="news-card-link"></a>
                <% if post.feature_image.present? %>
                  <div class="news-thumbnail mb-2" style="background-image:url('<%= post.feature_image.medium.url %>');height: 300px !important;">
                  </div>
                <% else %>
                  <div class="news-thumbnail mb-2" style="background-image:url('<%= asset_path('no-thumbnail.jpg') %>');height: 300px !important;">
                  </div>
                <% end %>
                <h2 class="text-warning news-title"><%= post.title %></h2>
                <p class="text-white mb-2"><i class="fas fa-clock"></i> <%= post.publish_date.strftime("%B %d, %Y at %H:%M %p") %></p>
                <div class="text-white" style="overflow-wrap:break-word;">
                  <%= post.meta_description.truncate(150).html_safe %>
                </div>
              </div>
            <% end %>
          </div>
          <% if @posts.present? %>
            <div class="row mb-4">
              <div class="col-md-12 text-center">
                <%= paginate @posts %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
