<%- model_class = Post -%>
<div class="background-parallax" style="background-image:url('<%= asset_path('djvideo2.jpg') %>'); ">
  <div class="background-layer-opacity-black">
  </div>
  <div class="container">
    <section class="mb-6 pt-5">
      <div class="row">
        <div class="col-md-9 mb-4">
          <div class="col-md-12 section-title-block mb-4">
            <h1 class="text-uppercase text-white page-title"><%= @post.title %></h1>
          </div>
          <div class="col-md-12 text-white mb-4 text-content">
            <%= @post.content.html_safe %>
          </div>
          <% if @post.post_format == 'image' %>
            <div class="col-md-12 section-title-block mb-4">
              <h2 class="text-uppercase text-white page-title">Images</h2>
            </div>
            <% if @post.images.present? %>
              <div class="row">
                <% @post.images.each do |image| %>
                  <div class="col-md-4 mb-4">
                    <a href="" class="news-card-link" data-toggle="modal" data-target="#image<%= image.id %>"></a>
                    <% if image.file.present? %>
                      <div class="news-thumbnail mb-2" style="background-image:url('<%= image.file.url %>')">
                      </div>
                    <% else %>
                      <div class="news-thumbnail mb-2" style="background-image:url('<%= asset_path 'no-thumbnail' %>')">
                      </div>
                    <% end %>
                    <% if image.caption.present? %>
                      <h2 class="text-warning news-title"><%= image.caption %></h2>
                    <% end %>
                    <div class="modal fade" id="image<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <img src="<%= image.file.url %>" alt="" class="w-100">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% elsif @post.post_format == 'video' %>
            <div class="col-md-12 section-title-block mb-4">
              <h2 class="text-uppercase text-white page-title">Videos</h2>
            </div>
            <% if @post.videos.present? %>
              <div class="row">
                <% @post.videos.each do |video| %>
                  <div class="col-md-4 mb-4">
                    <a href="" class="news-card-link" data-toggle="modal" data-target="#video<%= video.id %>"></a>
                    <% if video.thumbnail_image.present? %>
                      <div class="news-thumbnail mb-2" style="background-image:url('<%= video.thumbnail_image.url %>')">
                      </div>
                    <% else %>
                      <div class="news-thumbnail mb-2" style="background-image:url('<%= asset_path 'no-thumbnail' %>')">
                      </div>
                    <% end %>
                    <% if video.title.present? %>
                      <h2 class="text-warning news-title"><%= video.title %></h2>
                    <% end %>
                  </div>
                  <% if video.file.present? || video.video_url.present? %>
                    <div class="modal fade" id="video<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <% if video.file.present? %>
                              <video controls width="100%" height="400" src="<%= video.file %>"></video>
                            <% end %>
                            <% if video.video_url.present? %>
                              <iframe width="100%" height="500" src="http://www.youtube.com/embed/<%= video.video_url.delete_prefix("https://www.youtube.com/watch?v=") %>" frameborder="0"></iframe>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% elsif @post.post_format == 'audio' %>
            <div class="col-md-12 section-title-block mb-4">
              <h2 class="text-uppercase text-white page-title">Audios</h2>
            </div>
            <% if @post.audios.present? %>
              <div class="row">
                <% @post.audios.each do |audio| %>
                  <div class="col-md-12 mb-4">
                    <% if audio.title.present? %>
                      <h2 class="text-warning news-title"><%= audio.title %></h2>
                    <% end %>
                    <audio controls width="100%" height="480" style="width:100%;" src="<%= audio.file %>"></audio>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
          <% end %>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 section-title-block mb-4">
            <h2 class="text-uppercase text-white section-title">upcoming events</h2>
          </div>
          <% if @events.present? %>
            <% @events.limit(3).each do |event| %>
              <div class="row mb-5">
                <div class="col-md-12">
                  <h3 class="mb-3 text-warning event-title"><%= event.title %></h3>
                </div>
                <div class="col-md-3 col-3">
                  <% if event.start_date.present? %>
                  <p class="text-white text-center upcoming-event-date">
                    <span class="event-day-number"><%= event.start_date.strftime("%d") %></span><br>
                    <span><%= event.start_date.strftime("%b") %></span>
                  </p>
                  <% end %>
                </div>
                <div class="col-md-9 col-9">
                  <% if event.start_date.present? && event.finish_date.present? %>
                    <p class="text-white"><i class="fas fa-clock"></i> <%= event.start_date.strftime("%H:%M %p") %> - <%= event.finish_date.strftime("%H:%M %p") %></p>
                  <% end %>
                  <% if event.venue.present? %>
                    <p class="text-white"><i class="fas fa-location-arrow"></i> <%= event.venue.title %></p>
                  <% end %>
                </div>
                <div class="col-md-12 text-right">
                  <a href="<%= event_path(event) %>" class="btn btn-warning">More Details</a>
                </div>
              </div>
            <% end %>
            <div class="row mb-3">
              <div class="col-md-12 text-center">
                <a href="<%= events_all_path %>" class="btn btn-lg btn-outline-warning">View More</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
<%= show_popup(0) %>
