<% if @category.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_for @category, :html => { :class => "form-horizontal category" } do |f| %>
          <div class="row form-group">
            <%= f.label :name, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :name, :class => 'form-control' %>
              <%=f.error_span(:name) %>
            </div>
            <div class="col-md-6">
              <small><em>*required</em></small>
            </div>
          </div>
          <% unless @category.new_record? %>
            <div class="row form-group">
              <%= f.label :slug, :class => 'col-form-label col-lg-2' %>
              <div class="col-lg-4">
                <%= f.text_field :slug, :class => 'form-control', :required => true %>
                <%=f.error_span(:slug) %>
              </div>
            </div>
          <% end %>
          <div class="row form-group">
            <%= f.label :description, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_area :description, :class => 'form-control' %>
            </div>
            <%=f.error_span(:description) %>
          </div>
          <div class="row form-group">
            <%= f.label :parent_id, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.select :parent_id, @category_parent.map {|s| [s.name, s.id ]},{:include_blank => '-Choose Parent Category-'}, :class=>"form-control w-100 select2"%>
              <%=f.error_span(:parent_id) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :seo_title, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_field :seo_title, :class => 'form-control' %>
              <%=f.error_span(:seo_title) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :focus_keyphrase, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_field :focus_keyphrase, :class => 'form-control' %>
              <%=f.error_span(:focus_keyphrase) %>
            </div>
          </div>
          <div class="row form-group">
            <%= f.label :meta_description, :class => 'col-form-label col-lg-2 text-capitalize' %>
            <div class="col-lg-4">
              <%= f.text_area :meta_description, :class => 'form-control' %>
              <%=f.error_span(:meta_description) %>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-10 offset-md-2">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              categories_path, :class => 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
