<%- model_class = Category -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
            <li class="breadcrumb-item active"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 b-r">
              <strong>Name</strong><br>
              <p class="text-muted"><%= @category.name %></p>
            </div>
            <div class="col-md-12 b-r">
              <strong>Slug</strong><br>
              <p class="text-muted"><%= @category.slug %></p>
            </div>
            <div class="col-md-12 b-r">
              <strong>Parent Category</strong><br>
              <p class="text-muted"><%= @category.parent.name if @category.parent.present? %></p>
            </div>
            <div class="col-md-12 b-r">
              <strong>Description</strong><br>
              <p class="text-muted"><%= @category.description %></p>
            </div>
            <div class="col-md-12 text-center">
              <hr>
              <%= link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn waves-effect waves-light btn-secondary mb-1' %>
              <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_category_path(@category), :class => 'btn waves-effect waves-light btn-warning mb-1' %>
              <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, category_path(@category), :class => 'btn waves-effect waves-light btn-danger mb-1', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
