<% if @popup.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@popup.errors.count, "error") %> prohibited this pop up from being saved:</h3>
        <ul>
          <% @popup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @popup, :html => { :class => "form-horizontal popup" } do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :name %> <small><em>*required</em></small>
            <%= f.text_field :name, :class => 'form-control', required: true %>
            <%=f.error_span(:name) %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <% if @popup.image.nil? || @popup.image.blank? %>
            <%= f.file_field :image, :class => 'dropify','data-max-file-size'=>'1M' %>
            <% else %>
            <%= f.file_field :image, :class => 'dropify','data-max-file-size'=>'1M', 'data-default-file' => @popup.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
          <div class="form-group">
            <%= f.label :link %>
            <%= f.text_field :link, :class => 'form-control' %>
            <%=f.error_span(:link) %>
          </div>
          <div class="form-group">
            <%= f.label :position %> <small><em>*required</em></small>
            <%= f.select :position, Popup::POSITION.each_with_index.map {|r, i| [r, i]}, {:include_blank => '- Choose Position -'}, :class => 'form-control', required: true %>
            <%=f.error_span(:position) %>
          </div>
          <div class="form-group">
            <%= f.label :size %> <small><em>*required</em></small>
            <%= f.select :size, Popup::SIZE.map {|x, y| [x.upcase, y]}, {:include_blank => '- Choose Size -'}, :class => 'form-control', required: true %>
            <%=f.error_span(:size) %>
          </div>
          <div class="form-group">
            <%= f.label :caption %>
            <%= f.cktext_area :caption, :class => 'form-control', :ckeditor => {:customConfig => '/assets/ckeditor/config_popup.js'} %>
            <%=f.error_span(:caption) %>
          </div>
          <div class="form-group text-center">
            <hr>
            <%= f.submit 'Save', :class => 'btn btn-success' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), popups_path, :class => 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
