<% data.each do |popup| %>
  <div class="modal fade modal-popup" id="modal-<%= popup.id %>">
    <div class="modal-dialog modal-dialog-centered <%= popup.size %>">
      <div class="modal-content">
        <div class="">
          <% if popup.image.present? %>
            <a href="<%= popup.link if popup.link.present? %>" target="_blank">
              <img src="<%= popup.image.url %>" class="w-100" alt="<%= popup.name %>">
            </a>
          <% end %>
        </div>
        <% if popup.caption.present? %>
          <div class="p-2">
            <%= popup.caption.html_safe %>
          </div>
        <% end %>
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.modal-popup').modal('show');
  })
</script>
