<%- model_class = Popup -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">
        <%= action_name.capitalize unless action_name == 'index' %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      </h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
            <li class="breadcrumb-item active">
              <%= if action_name == 'index'
                'All'
              else
                action_name.capitalize
              end %>
              <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a href="<%= new_popup_path %>" class="btn btn-success mb-2 btn-rounded"><i class="fas fa-plus-circle"></i> Add New</a>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center"><%= model_class.human_attribute_name(:id) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:name) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:position) %></th>
                  <th class="text-center"><%= model_class.human_attribute_name(:created_at) %></th>
                  <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <% @popups.each do |popup| %>
                  <tr>
                    <td class="text-center"><%= link_to popup.id, popup_path(popup) %></td>
                    <td class="text-center"><%= popup.name %></td>
                    <td class="text-center"><%= @popup_position[popup.position.to_i] %></td>
                    <td class="text-center"><%= popup.created_at.strftime("%Y/%m/%d@%H:%M:%S") rescue '-' %></td>
                    <td class="text-center">
                      <button type="button" name="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-<%= popup.id %>">
                        <i class='fas fa-eye'></i> Show
                      </button>
                      <%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_popup_path(popup), :class => 'btn btn-warning btn-xs' %>
                      <%= link_to "<i class='fas fa-times-circle'></i> Destroy".html_safe, popup_path(popup), :class => 'btn btn-xs btn-danger', :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                    </td>
                  </tr>
                  <div class="modal fade" id="modal-<%= popup.id %>">
                    <div class="modal-dialog modal-dialog-centered <%= popup.size %>">
                      <div class="modal-content">
                        <div class="">
                          <% if popup.image.present? %>
                            <a href="<%= popup.link if popup.link.present? %>" target="_blank">
                              <img src="<%= popup.image.url %>" class="w-100" alt="<%= popup.name %>">
                            </a>
                          <% end %>
                        </div>
                        <% if popup.caption.present? %>
                          <div class="p-2">
                            <%= popup.caption.html_safe %>
                          </div>
                        <% end %>
                        <hr>
                        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
