<p id="notice"><%= notice %></p>

<h1>Images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Caption</th>
      <th>Alternative text</th>
      <th>Description</th>
      <th>Seo title</th>
      <th>Meta description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.title %></td>
        <td><%= image.image %></td>
        <td><%= image.caption %></td>
        <td><%= image.alternative_text %></td>
        <td><%= image.description %></td>
        <td><%= image.seo_title %></td>
        <td><%= image.meta_description %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
