<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CMS Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= javascript_include_tag 'ckeditor/config.js' %>

  </head>
  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
              <i class="fas fa-times"></i>
            </a>
            <div class="navbar-brand">
              <a href="<%= get_site_url() %>" class="logo" target="_blank">
                <b class="logo-icon">
                  <img src="<%= asset_url('emotgifedited.png') %>" alt="homepage" class="dark-logo" />
                  <img src="<%= asset_url('emotgifedited.png') %>" alt="homepage" class="light-logo" />
                </b>
                <span class="logo-text">
                  <!-- image for text logo -->
                </span>
              </a>
              <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                <i class="fas fa-sliders-h"></i>
              </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.avatar.present? %>
                    <img src="<%= current_user.avatar.thumb.url %>" alt="user" class="rounded-circle" width="40">
                  <% else %>
                    <img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="40">
                  <% end %>
                  <span class="m-l-5 font-medium d-none d-sm-inline-block"><%= current_user.email %><i class="fas fa-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <span class="with-arrow">
                    <span class="bg-primary"></span>
                  </span>
                  <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                    <div class="">
                      <% if current_user.avatar.present? %>
                        <img src="<%= current_user.avatar.thumb.url %>" alt="user" class="rounded-circle" width="60">
                      <% else %>
                        <img src="<%= asset_url('user.png') %>" alt="user" class="rounded-circle" width="60">
                      <% end %>
                    </div>
                    <div class="m-l-10">
                      <h4 class="mb-0"><%= current_user.username if current_user.username.present? %></h4>
                      <p class=" mb-0"><%= current_user.email %></p>
                    </div>
                  </div>
                  <a class="dropdown-item" href="<%= user_path(current_user) %>">
                    <i class="fa fa-user m-r-5 m-l-5"></i> My Profile
                  </a>
                  <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">
                    <i class="fa fa-cog m-r-5 m-l-5"></i> Account Setting
                  </a>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path, method: :delete, :class => 'dropdown-item' do %>
                    <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                  <% end %>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="fas fa-ellipsis-h"></i>
                <span class="hide-menu">Admin Menu</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="<%= cms_admin_path %>" aria-expanded="false">
                  <i class="fas fa-tachometer-alt"></i>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-pen"></i>
                  <span class="hide-menu">Posts</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= posts_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> All Posts </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= new_post_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Add New </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= categories_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Categories </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= tags_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Tags </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-music"></i>
                  <span class="hide-menu">Event</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= events_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> All Event </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= new_event_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Add New </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= venues_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Venues </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-star"></i>
                  <span class="hide-menu">Artist</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= artists_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> All Artists </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= new_artist_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Add New </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= genres_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Genre </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-file"></i>
                  <span class="hide-menu">Page</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= pages_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> All Page </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= new_page_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Add New </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-users"></i>
                  <span class="hide-menu">Users</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= users_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> All Users </span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= new_user_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> Add New </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="<%= popups_path %>" aria-expanded="false">
                  <i class="fas fa-window-maximize"></i>
                  <span class="hide-menu">Pop Up</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="<%= contacts_path %>" aria-expanded="false">
                  <i class="fas fa-inbox"></i>
                  <span class="hide-menu">Contacts</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fas fa-sliders-h"></i>
                  <span class="hide-menu">Settings</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= setting_general_path %>" class="sidebar-link font-14">
                      <span class="hide-menu"> General</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper">
        <%= render 'shared/message' %>
        <%= yield %>
        <footer class="footer text-center">
          All Rights Reserved by Meownonymous.
        </footer>
      </div>
    </div>
  </body>
</html>
