<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" integrity="sha512-RWhcC19d8A3vE7kpXq6Ze4GcPfGe3DQWuenhXAbcGiZOaqGojLtWwit1eeM9jLGHFv8hnwpX3blJKGjTsf2HxQ==" crossorigin="anonymous" />
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous"></script>

  </head>

  <body class="bg-black">
    <nav class="navbar navbar-expand-lg navbar-dark <%= action_name == 'home' ? "fixed-top" : "sticky-top scrolled" %> main-nav">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="<%= get_site_url() %>">
          <img src="<%= asset_url('tbunc-logo.png') %>" width="250" alt="" loading="lazy">
        </a>
        <div class="navbar-collapse collapse" id="navbarmain">
          <ul class="navbar-nav ml-auto">
            <% if Page.where(slug: 'about').where(status: 'publish').first.present? %>
              <li class="nav-item special">
                <a class="nav-link text-uppercase letter-spacing-4 border-white border-right" href="<%= page_path(Page.where(slug: 'about').where(status: 'publish').first.slug) %>">about</a>
              </li>
            <% end %>
            <li class="nav-item special">
              <a class="nav-link text-uppercase letter-spacing-4 border-white border-right" href="<%= events_all_path %>">events</a>
            </li>
            <li class="nav-item special">
              <a class="nav-link text-uppercase letter-spacing-4 border-white border-right" href="<%= artists_all_path %>">artists</a>
            </li>
            <li class="nav-item dropdown special">
              <a class="nav-link dropdown-toggle text-uppercase letter-spacing-4 border-white border-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                services
              </a>
              <div class="dropdown-menu dropdown-background" aria-labelledby="navbarDropdown">
                <a class="dropdown-item dropdown-item-format" href="#">rental</a>
              </div>
            </li>
            <li class="nav-item special">
              <a class="nav-link text-uppercase letter-spacing-4 border-white border-right" href="<%= pages_galleries_path %>">galleries</a>
            </li>
            <li class="nav-item special">
              <a class="nav-link text-uppercase letter-spacing-4 border-white border-right" href="<%= posts_all_path %>">news</a>
            </li>
            <li class="nav-item special">
              <a class="nav-link text-uppercase letter-spacing-4" href="<%= new_contact_path %>">contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
  <footer class="bg-black mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-white text-uppercase footer-col-title">about us</h2>
          <p class="text-white">
            T-Bunc Enterprise is providing different verity of DJs as per your requirements. T-Bunc Enterprise's is the number one DJ agency for Indonesia events. Let our highly sought-after, elite DJs and musicians provide the soundtrack for your bespoke corporate or private event.
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-white text-uppercase footer-col-title">let's talk!</h2>
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <p class="text-white">0818-767-080</p>
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <p class="text-white">info@tbunc.com</p>
          <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <p class="text-white">Jl. Elang II No.8, Bintaro, Kec. Pondok Aren <br> Kota Tangerang Selatan, Banten 15229</p>
        </div>
        <div class="col-md-4">
          <h2 class="text-white text-uppercase footer-col-title">find us on</h2>
          <div class="sosmed-block">
            <span class="icon-sosmed">
              <i class="fab fa-facebook"></i>
            </span>
            <p class="text-white"><a href="https://www.facebook.com/T-Bunc-Collaboration-105886454543213/" class="sosmed-link">T-Bunc Collaboration</a></p>
            <span class="icon-sosmed">
              <i class="fab fa-instagram"></i>
            </span>
            <p class="text-white"><a href="https://www.instagram.com/tbunc_collaboration/" class="sosmed-link">@tbunc_collaboration</a></p>
            <span class="icon-sosmed">
              <i class="fab fa-youtube"></i>
            </span>
            <p class="text-white"><a href="https://www.youtube.com/channel/UCDbe1VBSjj3Tw-2VAOQKdDQ/featured" class="sosmed-link">T-Bunc Enterprise</a></p>
          </div>
        </div>
        <hr>
        <div class="col-md-12 text-center copyright-border">
          <p class="text-white mt-3">2020 T-Bunc Enterprise. All Right Reserve</p>
        </div>
      </div>
    </div>
  </footer>
</html>
